.ItemsTurnSend{
    flex-direction: column;
    display: flex;
    width: 18%;
    height: 100%;
    font-size: 30px;
    background: darkcyan;
}
.ItemsTurnSend-FileItem{
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
}
.ItemsTurnSend-FileStatusBar{
    width: 100%;
    height: 10px;
    background: red;
}
.ItemsTurnSend-FileName{
    word-wrap: break-word;
    padding: 10px;
    font-size: 22px;
}
.ItemsTurnSend-Button{
    cursor: pointer;
    background:darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.ItemsTurnSend-FilesBox{
    overflow-y: auto;
    display: flex;
    height: 100%;
    background: cornsilk;
    flex-direction: column;
    padding: 10px;
}
.ItemsTurnSend-FilesTitle{
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 100%;
}


