.FileItem{
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
}
.FileStatusBar{
    width: 100%;
    height: 10px;
    background: red;
}
.FileName{
    word-wrap: break-word;
    padding: 10px;
    font-size: 22px;
}
.SendButton{
    background:darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.ItemsTurnSend{
    flex-direction: column;
    display: flex;
    padding: 5px;
    width: 22%;
    height: 100%;
    font-size: 30px;
    background: darkcyan;
}
.FilesBox{
    display: flex;
    height: 100%;
    width: 100%;
    background: cornsilk;
    flex-direction: column;
    padding: 10px;
}
.FilesTitle{
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 100%;
}

