*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    justify-content: space-between;
}

.DragSpace{
    padding: 100px;
    display: flex;
    width: 76%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: rosybrown;
}

.drop-area{
    width: 100%;
    height: 100%;
    border: 5px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-area-false{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
